.login-container {
  display: flex;
  color: rgb(255, 255, 255);
  flex-direction: column;
  width: 30%;
  background-size: cover;
  border-radius: 50%;
  min-height: 350px;
  max-width: 500px;
  border: 5px solid rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  margin: 10% 35%;
  text-align: center;
  background-color: rgba(73, 40, 13, 0.678);
}

.login-container input {
  margin: 10px;
}

body {
  background-image: url('../images/madeira-recipes.jpg');
  filter: grayscale(50%)
}

button {
  background-color: green;
}

.invalid-button {
  background-color: rgba(138, 22, 22, 0.753);
}

.valid-button {
  background-color: rgba(19, 97, 19, 0.459);
}

@media only screen and (max-width: 600px) {
  .login-container {
    background-color: transparent;
    border: none;
  }
}