.done-recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.recipe-image {
  width: 50%;
  border-radius: 25px;
  box-shadow: 7px 7px 7px black;
}

button {
  width: 100px;
  background-color: rgba(73, 40, 13, 0.678);
  border-radius: 10px;
  color: white;
}

.buttons-done {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.recipe-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}